<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Data</title>
</head>

<body>

    <h1>Student Data</h1>
    <form id="setDevice" method="GET" action="/index">
        <button>Home</button>
    </form>
    <form id="chooseName" method="POST" action="/studentData">
        <input type="text" name="studentID" id="studentID" placeholder="Student ID">
        <input type="text" name="name" id="name" placeholder="Student Name">
        <input type="text" name="email" id="email" placeholder="Student Email">
        <button>Request</button>
    </form>
    <label>
        Student ID:<%=student.studentID%>
            Name:<%= student.name %>
                <%= student.computerNumber %>
    </label>
    <label>
        Email:<%=student.email%>
    </label>
    <label>
        <% if (student.notes.length===0) { %>
            <p>This student has no notes yet.</p>
            <% } else { %>
                <ul>
                    <% for( const note of student.notes ) { %>
                        <li>
                            <p>
                                <%= note.noteText %>
                            </p>
                        </li>
                        <% } %>
                </ul>

                <% } %>
    </label>
    <h3>Assign/Swap Device</h3>
    <label>Current Device: <%= student.computerNumber %></label>

    <body>
        <form id="setDevice" method="POST" action="/setDevice">
            <input type="text" name="deviceNumber" id="deviceNumber" placeholder="Computer Number" required>
            <input type="text" name="studentID" id="studentID" placeholder="Student ID">
            <input type="text" name="name" id="name" placeholder="Student Name">
            <input type="text" name="email" id="email" placeholder="Student Email">
            <button>Request</button>
        </form>
    </body>
</body>